body {
    background-color: rgb(220, 226, 229);
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1%;
}

p {
    margin: 2%;
}

a {
    color:rgb(229, 118, 40)
}

a:hover {
    color:rgb(76, 85, 92)
}